@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, rgba(120, 120, 120, 0.12), transparent 35%),
    linear-gradient(to bottom, #050505, #0a0a0a, #050505);

  color: white;

  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
}

body::before {
  content: "";

  position: fixed;
  inset: 0;

  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

  background-size: 50px 50px;

  mask-image: radial-gradient(circle at center, black 30%, transparent 80%);

  pointer-events: none;

  z-index: -1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 22s linear infinite;
}